# Ignore git files
.git/
.gitignore

# Ignore local python virtual environments
.venv/
venv/
ENV/
env/

# Ignore local database logs and uploads
backend/logs.json
uploads/
yolov8n.pt

# Ignore python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local IDE settings
.vscode/
.idea/
