# Python caching
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Project specifics
yolov8n.pt
uploads/*
!uploads/.gitkeep
backend/logs.json

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
